---
import Layout from '@/components/layout/Layout.astro';

const { TRANSMISSION_USERNAME, TRANSMISSION_PASSWORD } = import.meta.env;

const authString = `${TRANSMISSION_USERNAME}:${TRANSMISSION_PASSWORD}`;
---

<Layout title="Torrents">
	<div class="h-full" id="iframe-container">
		<iframe class="h-full w-full" data-auth-string={authString}></iframe>
	</div>

	<script>
		async function main() {
			const { hostname, protocol } = window.location;
			const port = import.meta.env.PUBLIC_TRANSMISSION_PORT;
			const iframe = document.querySelector('iframe');
			const iframeContainer = document.querySelector(
				'div#iframe-container',
			);
			const { authString } = iframe.dataset;

			const url = `${protocol}//${hostname}:${port}`;
			const authUrl = `${protocol}//${authString}@${hostname}:${port}`;

			if (iframe) {
				iframe.src = authUrl;
				setTimeout(() => {
					iframe.remove();
					const newIframe = document.createElement('iframe');
					newIframe.classList = iframe.classList;
					newIframe.src = url;
					iframeContainer.appendChild(newIframe);
				}, 100);
			}
		}
		main();
	</script>
</Layout>
